:root {
  --body-bg: #000000;
  --body-color: #ffffff;
  --under-list-style: none;
  --word-break: break-all;
}

body {
  background-color: var(--body-bg) !important;
  color: var(--body-color) !important;
  word-break: var(--word-break) !important;
}

ul {
  list-style: var(--under-list-style);
}

.cursor-pointer {
  cursor: pointer;
}

/* Scroll Bar Design for Chrome */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px
}

/* import */
@import url('../style/notifications.css');
@import url('../style/information.css');
@import url('../style/bookmarks.css');
@import url('../style/messages.css');
@import url('../style/profile.css');
@import url('../style/explore.css');
@import url('../style/sidebar.css');
@import url('../style/tweets.css');