#messages-preview {
    border: 1px solid #222;
    margin: 0.5rem 0;
    height: 96.2vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#messages-preview .messages-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

#messages-preview .messages-header div {
    display: flex;
}

#messages-preview .messages-header div p i {
    margin: 0 0.5rem;
}

#messages-preview .messages-search {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 0 1rem;
    border-radius: 20px;
    margin: 0.7rem;
}

#messages-preview .messages-search input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    background-color: #222;
}

#messages-preview .messages-search input:focus {
    outline: none;
}

#messages-preview .messages-user {
    display: flex;
    margin: 0.7rem;
    padding: 0.5rem;
}


#messages-preview .messages-user:hover {
    background-color: #222;
    border-radius: 5px;
    cursor: pointer;
}

#messages-preview .messages-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#messages-preview .messages-user div {
    margin: 0 0.2rem;
}

#messages-preview .messages-user div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#messages-direct {
    border: 1px solid #222;
    margin: 0.5rem 0;
    height: 96.2vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#messages-direct .messages-direct-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

#messages-direct .messages-direct-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0.5rem 0 0;
}

#messages-direct .messages-direct-texts {
    margin: 0 0 0 0.5rem;
    width: 100% !important;
}

#messages-direct .messages-direct-texts p:nth-child(odd) {
    padding: 0.5rem;
    border-radius: 8px;
    width: 50%;
    font-size: 14px;
}

#messages-direct .messages-direct-texts p:nth-child(even) {
    padding: 0.5rem;
    border-radius: 8px;
    width: 50%;
    font-size: 14px;
    margin: 1rem 0 1rem auto;
}

#messages-direct .messages-direct-add {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 0 1rem;
    border-radius: 20px;
    /* margin: 0.7rem; */
}

#messages-direct .messages-direct-add input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    background-color: #222;
}

#messages-direct .messages-direct-add input:focus {
    outline: none;
}

#messages-direct .messages-direct-add div {
    transform: rotate(44deg);
}

.messages-manage-sidebar {
    display: none;
}

@media screen and (max-width:1200px) {
    #messages-manage-views {
        margin: auto;
        width: 100%;
        display: flex;
    }

    #messages-direct {
        display: none;
    }

    #messages-preview {
        width: 80%;
    }

    .messages-manage-sidebar div {
        position: sticky;
        top: 0;
        padding: 0.5rem 0;
    }

    .messages-manage-sidebar div ul a {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }

    .messages-manage-sidebar .tweet-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        border-radius: 30px;
    }

    .messages-manage-sidebar div ul li:last-child {
        margin: 1rem 0;
    }

    .messages-manage-sidebar div ul li img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .messages-manage-sidebar {
        display: block;
        width: 20%;
    }
}

@media screen and (max-width:768px) {
    .messages-manage-sidebar {
        display: none;
    }

    #messages-preview {
        width: 100%;
    }
}