#notifications main {
    border: 1px solid #222;
    margin: 0.5rem 0;
}

#notifications main .notifications-header{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
}

#notifications main .notifications-topics {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-bottom: 1px solid #222;
}

#notifications main .notifications-topics p {
    margin: 0 2rem;
}

#notifications main .notifications-content div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
}

#notifications main .notifications-content {
    border-bottom: 1px solid #222;
}

#notifications main .notifications-content:last-child { 
    border: none;
}

#notifications main .notifications-content div:nth-child(1) img { 
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#notifications main .notifications-content div:nth-child(2) {
    padding: 0.7rem;
}

#notifications main .notifications-content div:nth-child(3) {
    padding: 0.7rem;
}

#notifications main:nth-child(1) {
    display: none;
}

@media screen and (max-width:1200px) {
    #notifications {
        margin: auto;
        width: 100%;
        display: flex;
    }

    #notifications main:nth-child(1) {
        display: block;
        width: 20%;
        border: none;
    }

    #notifications main:nth-child(1) div {
        position: sticky;
        top: 0;
        padding: 0.5rem 0;
    }
    
    #notifications main:nth-child(1) div ul a {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }
    
    #notifications main:nth-child(1) .tweet-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        border-radius: 30px;
    }
    
    #notifications main:nth-child(1) div ul li:last-child {
        margin: 1rem 0;
    }
    
    #notifications main:nth-child(1) div ul li img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    #notifications main:nth-child(2) {
        width: 80%;
    }

}

@media screen and (max-width:768px){
    #notifications main:nth-child(1){
        display: none;
    }
    #notifications main:nth-child(2) {
        width: 100%;
    }

    #notifications main .notifications-topics {
        font-size: 12px;
    }
}