#sidebar-column div {
    position: sticky;
    top: 0;
    padding: 0.5rem 0;
}

#sidebar-column div ul a {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

#sidebar-column .tweet-btn {
    padding: 0.7rem 5rem;
    border: none;
    border-radius: 30px;
}

#sidebar-column div ul li:last-child {
    margin: 1rem 0;
    display: flex;
}

#sidebar-column div ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Add New Logo */
.TwitterXLogo {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    margin: 0 0 0 -0.6rem;
}

@media screen and (max-width:1200px){
    #sidebar-column {
        display: none;
    }
}