#tweets main {
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    /* border-bottom: 1px solid #333; */
    /* padding: 1rem; */
}

#tweets main .header-filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.7rem;
}

#tweets main .add-tweet {
    padding: 0.5rem;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
}

.modal-body .add-tweet {
    padding: 0.5rem;
    display: flex;
}

#tweets main .add-tweet img, .modal-body .add-tweet div:nth-child(1) img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tweet-preview-img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 10px !important;
}

#tweets main .add-tweet textarea, .modal-body .add-tweet textarea {
    resize: none;
    border: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: none;
}

#tweets main .add-tweet textarea:focus, .modal-body .add-tweet textarea:focus {
    outline: none;
}

#tweets main .add-tweet .tweet-features, .modal-body .add-tweet .tweet-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tweets main .add-tweet .tweet-features p i, .modal-body .add-tweet .tweet-features p i {
    margin: 0 1rem 0 0;
    cursor: pointer;
}

#tweets main .add-tweet .tweet-features button, .modal-body .add-tweet .tweet-features button {
    border: none;
    border-radius: 20px;
    padding: 0.2rem 1rem;
}

#tweets main .show-tweet {
    border-bottom: 1px solid #333;
}

#tweets main .tweet-message {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #333;
}

#tweets main .tweet-message .tp {
    display: flex;
}

#tweets main .tweet-message .tp img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#tweets main .tweet-message .tp-data img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#tweets main:nth-child(1) {
    display: none;
}

@media screen and (max-width:1200px) {
    #tweets {
        margin: auto;
        width: 100%;
        display: flex;
    }

    #tweets main:nth-child(1) {
        display: block;
        width: 20%;
        border: none;
    }

    #tweets main:nth-child(1) div {
        position: sticky;
        top: 0;
        padding: 0.5rem 0;
    }
    
    #tweets main:nth-child(1) div ul a {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }
    
    #tweets main:nth-child(1) .tweet-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        border-radius: 30px;
    }
    
    #tweets main:nth-child(1) div ul li:last-child {
        margin: 1rem 0;
    }
    
    #tweets main:nth-child(1) div ul li img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    #tweets main:nth-child(2) {
        width: 80%;
    }

}

@media screen and (max-width:768px){
    #tweets main:nth-child(1){
        display: none;
    }
    #tweets main:nth-child(2) {
        width: 100%;
    }

    .tweet-post-sm p{
        font-size: 10px !important;
    }

    .tweet-post-title {
        font-size: 10px !important;
    }

    .modal-body .add-tweet .tweet-features button {
        padding: 0.2rem 0.6rem;
    }
}